<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0035)https://testflightapp.com/register/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="login"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dashboard | Assassins</title> 
  
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
    
    
</head>
<body>
	<div id="page">
    	<div id="header">
	        <div class="container">
    	        <div id="branding">
        	            <h1><img src="images/logo.png"/></h1>
            	</div>
        	</div>
    	</div>
	
        <div id="content">
        	<div class="container">
				<form>
				    <div class="header field">
        				<h1>Agent Leaderboard</h1>
   					</div><!--END #.field.header-->
    				<div class="field">
                    This is the Pre-College Assassins Leaderboard. This is updated as changes are people are killed. If you registered a kill and don't see the change listed please wait up to 2 hours before contacting us at <a href="mailto:help@precassassins.com">help@precassassins.com</a>
									</div>
									<% @players.each_with_index do |p, i| %>
		    <% if p.is_alive %>
			<div class="field">
		    <% else %>
			<div class="field killed">
		    <% end %>
											<label class="ranking"><%= i + 1 %>.</label>
                        <span class="targetInfo">
													<span class="name"><%= p.first_name %> <%= p.last_name %></span>
                        	<br/>
													<small><%= p.program %> | <strong><%= p.kills %> <%= (p.kills == 1) ? "Kill" : "Kills" %></strong></small>
                        </span>
                   </div><!--END #field-->
		<% end %>
				</form>
        </div>
        <div id="footer">
        	<ul>
            	<li><a href="http://www.facebook.com/precassassins">Like Us</a></li>
            	<li><a href="/leaderboard">Leaderboard</a></li>
            	<li><a href="/rules">Official Rules</a></li>
            	<li><a href="/privacy">Privacy Policy</a></li>
                <li class="last"><a href="/terms">Terms of Use</a></li>
            </ul>
        </div><!--END #footer--> 
    </div>
    <div id="footer" class="container">
        
    </div>
<div id="rad-grad"></div>
</div></body></html>
